// Place all the styles related to the Lecturers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body, .login{
    height: 100%;
}

.join, .login {
    display: flex;
    justify-content: center;
    background-color: #FFFFF0;
}

.container {
    width: 500px;
    margin: 80px auto;
}

.field {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 75px;
    border: solid 1px #FFFFF0;
    padding: 10px 30px 10px 30px;
    margin: 10px 0;
    background: #DCDCDC;
    vertical-align: top;
}

.field .field__input {
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 8px;
}

.field .field__area{
    display: block;
    width: 100%;
    margin-top: 8px;
}

.field .field__radio{
    cursor: pointer;
    margin: 0 auto;
}

.field .field__radio--male, .field .field__radio--female{
    display: inline-block;
    width: 49%;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #ffffff;
}

.field--sex input[type="radio"]:checked + span{
    background-color: #000000;
    color: #ffffff;
}

.field .field__radio--button{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.field__label{
    font-weight: bold;
}

.field__text {
    height: 150px;
}

.field--text {
    display: block;
    width: 100%;
    height: 125px;
}

.field .field--ctg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50px;
    background-color: #191970;
    color: #ffffff;
    cursor: pointer;
}

.field--submit {
    background-color: #191970; /* MidNightBlue*/
    border: none;
    color: #ffffff;
    font-size: 30px;
    margin: 10px 0;
    cursor: pointer;
}
.input--phone{
    width: 80px;
}

.text__center {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #696969;
}
.actions{
    display: flex;
    justify-content: center;
}

.field--exit{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
.intro_img{
    width: 100%;
    margin-top: 55px;
    border: 1px white solid;
}

.navbar--logo{
    width: 200px;
}

.header--logo{
    display: block;
    width: 500px;
    margin: 0 auto;    
}

/* 검색창 스타일링 */

.srhlecturer--content {
    background-color: #fefefe;
    margin: 2% auto;
    padding: 20px;
    width: 60%;
}

.srhlecturer--img{
    width: 15px;
    margin-left: 5px;
    cursor: pointer;
}

.srhlecturer--form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.srhlecturer--input {
    width: 80%;
    height: 30px;
}


.title--index {
    text-align: center;
    font-family: 'Yeon Sung', cursive;    
    color: #fff;
    text-shadow: 0 0 60px #fff, 0 0 50px #fff, 0 0 40px #102e37, 0 0 30px #102e37, 0 0 20px #102e37, 0 0 10px #102e37;
    border-bottom: 3px solid #102e37;
    width: 50%;
    margin: 50px auto;
    padding-bottom: 25px;
}

.index_menu2 {
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;    
    color: #fff;
    text-shadow: 0 0 60px #fff, 0 0 50px #fff, 0 0 40px #102e37, 0 0 30px #102e37, 0 0 20px #102e37, 0 0 10px #102e37;

}

/* lecturer 소개 창 스타일링 */

.lecturers{
    display: flex;
    padding: 30px 5%;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}


.lecturer__container {
    width: 200px;
    height: 380px;
    border: 3px solid #d6dce5;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
}
.lecturer__container:hover{
    background-color: #D3D3D3;
    opacity: 0.8;
}
.lec__image {
    margin: 0 5px 5px 5px;
    border-bottom: 3px solid #CDCDCD;
}
.lecturer--profile {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 200px;
}

.lec__content > h3, .lec__content > p{
    text-align: center;
    padding: 0 30px;
}

.lec__content--ct {
    color: #4169E1;
}

#searchdiv {
    margin: 100px 0;
}

#result {
    margin-top : 100px;    
}

.count > p {
    text-align: center;
}

.info__box {
    margin: 0 10%;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
}

.info__detail{
    font-size: 13px;
    height: 250px;
    vertical-align: middle;
}

.info--detail .info__detail--company {
    color: #000000;
    font-size: 40px;
    font-weight: bold;
}
.info--map {
    display: block;
    width: 450px;
    height: 250px;
    margin: 0 20px 20px 20px;
}

.information {
    overflow: hidden;
    clear: both;
    position: relative;
    margin-top: 120px;
    padding: 63px 31px 40px 31px;
    border-top: 1px solid rgba(0,0,0,0.08);
    background: rgb(245,245,245);
    line-height: 20px;
    color: rgba(0,0,0,0.38);

}
// 쇼페이지 스타일링

.lecturer, .lecture {
    margin: 80px 0;
}

.introbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}
.lecturer__profile, .lecturer__intro{
    width: 350px;
    margin: 5px;
}
.lecturer__profile--img{
    display: block;
    width: 240px;
    height: 320px;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.lecturer__table {
    text-align: center;
    line-height: 1.5;
    width:100%;
    height:100px;
    margin-top: 10px;
    border: "1";
}
.table__row th {
    width: 30%;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    background: #a5d5f3;
    margin: 20px 10px;
}
.table__row td {
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    
}
.lecturer__intro {
    padding: 20px;
    border: 1px dashed #CDCDCD;
}

.lecturer__intro--title{
    margin: 100px 0;
    text-align: center;   
}
.lecturer__intro--content{
    text-align: center;
}
.lecture__menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.lecture--img{
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 200px;
}

.lecture__menu--list > a{
    text-decoration: none;
    color: #000000;
}
.lecture__menu--list {
    width: 230px;
    height: 320px;
    border: 10px solid #D3D3D3;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name {
    width : 250px ;
    height : 50px ;
    background : hotpink;
    color : white;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;

}

.lecturer--name, .lecture--name, .titlename{
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Yeon Sung', cursive;   
    color: #fff;
    text-shadow: 0 0 60px #fff, 0 0 50px #fff, 0 0 40px #102e37, 0 0 30px #102e37, 0 0 20px #102e37, 0 0 10px #102e37;
    font-size: 30px;
}

.status {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Yeon Sung', cursive;   
    color: #102e37;
    text-align: center;
}

.status__box{
    margin: 0 50px;    
}

.status--count {
    display: block;
    margin: 20px auto;
    font-size: 50px;
}

.title.title--status{
    text-align: center;
    margin: 80px 0;
    color: darkgrey;
}

.open {
    width : 1500px ;
    height : 250px ;
    background-image: url("http://kstatic.inven.co.kr/upload/2016/09/08/bbs/m11741512232.jpg");
    color : white;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0 0 60px #fff, 0 0 50px #fff, 0 0 40px #feff78, 0 0 30px #feff78, 0 0 20px #feff78, 0 0 10px #feff78;
    z-index: 1;
    padding-top:100px;
}

.sale {
    display: inline-block;
    width : 250px ;
    height : 50px ;
    background : red;
    color : white;
    border-radius: 10px;
    text-align: center; 
    font-size: 25px;
    // z-index: 2;
}

.intro {
    margin-right: 100px;
}

.box_subject {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px auto;
    line-height:50px;
    font-size:25px;
    font-family:sans-serif;
}

.subject{
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 0 auto;
    font-size: 25px;
}
.left_box {
    width: 390px;
    height: 250px;
    color: white;
    background-image: url('http://kyowondown-kyowondown.ktcdn.co.kr/kwlife/down/upload/Resources/images/img_main01.png');
}

.center_box {
    width: 390px;
    height: 250px;
    color: white;
    background-image: url('http://kyowondown-kyowondown.ktcdn.co.kr/kwlife/down/upload/Resources/images/img_main02.png');
}

.right_box {
    width: 390px;
    height: 250px;
    color: white;
    background-image: url('http://kyowondown-kyowondown.ktcdn.co.kr/kwlife/down/upload/Resources/images/img_main03.png');
}

