// Place all the styles related to the Lectures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lecture--poster{
    display: block;
    width: 300px;
    height: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 20px;
}
// .lecture_table {
//     border-collapse: collapse;
//     text-align: left;
//     line-height: 1;
//     // border-top: 1px solid #ccc;
//     // border-bottom: 1px solid #ccc;
//     margin-right: auto;
//     margin-left: auto;
    
// }

.lecture__table{
    width: 300px;
}
.lecture__table th {
    width: 30%;
    padding: 10px;
    font-weight: bold;
    color: #fff;
    background: #a5d5f3;
    margin: 20px 10px;
}

.lecture__table td {
    width: 70%;
    padding: 10px;
    vertical-align: middle;
}

.lecturer__tablerow--intro{
    height: 320px;
}

/* 강연 등록 페이지 스타일링 */

.field__date {
    display: flex;
    justify-content: center;
    align-items: center;
}
.field__date--input {
    height: 25px;
}

/* 내 강연 리스트 보기 스타일링 */

.mylecture {
    margin: 80px auto;
}
.lecture__mylist {
    grid-gap: 20px 50px;    
}

.lecture--mylist{
    height: 350px;
}

.lecture__mylist .lecture__mylist--subject {
    color: #191970;
    opacity: 0.8;
    font-size: 15px;
}

.lecture__mylist .lecture__mylist--title{
    font-weight: bold;
}

.lecture__mylist .lecture--update:hover {
    color: #0000ff;
}

.lecture__mylist .lecture--delete:hover{
    color: #ff0000;
}