// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login--find {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #000000;
}

.login--find:hover{
    color: #0000CD;
}

.srh__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.srh {
    width: 400px;
    height: 530px;
    padding: 10px;
    margin: 0 20px;
    border: 1px solid #D3D3D3;
    background-color: #F5F5DC;
}

.srh__top--title, .srh__top--content {
    text-align: center;
}

.srh__top--title{
    font: 40px sans-serif;
}

.srh__top--content {
    width: 200px;
    margin: 0 auto;
    font: 15px sans-serif;
    color: #2F4F4F;
}

.srh__main {
    width: 300px;
    margin: 10px auto;
    padding: 20px;
    border-top: 1px dashed #000000;
}

.srh__main--elt{
    margin: 10px 0;
}

.srh__main--input{
    display: block;
    width: 100%;
    height: 25px;
    margin-top: 8px;
}

.srh__main--submit{
    display: block;
    border: none;
    margin: 20px auto 0 auto;
    width: 50%;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.pwfind_subject{
    text-align: center;
    font-family: 'Yeon Sung', cursive;    
    color: #fff;
    text-shadow: 0 0 60px #fff, 0 0 50px #fff, 0 0 40px #102e37, 0 0 30px #102e37, 0 0 20px #102e37, 0 0 10px #102e37;
    margin-top: 100px;
    font-size: 50px;
}

.pwfind_content {
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Yeon Sung';
    margin-top: 200px;
    width: 500px;
	height: 300px;
	background: #FF92B1;
	margin-left:auto;
    margin-right:auto;
    border-radius: 5px;
    padding-top:100px;
}

.inputalert {
    margin-bottom: 20px;
    color: #ff0000;
}

.inputalert.srhalert{
    margin-top: 100px;
    margin-left: 120px;
}
@media screen and (max-width: 600px){
    .container {
        width: 300px;
        margin: 80px auto;
    }
    
    .header--logo{
        display: block;
        width: 300px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 725px){
    .srh__container{
        display: inherit;
        margin: 100px 5%;
        padding: 0;
        
    }
    .idsrh, .pwsrh {
        width: 90%;
        height: 100%;
        padding: 10px;
        margin: 10px auto 0 auto;
        border: 1px solid #D3D3D3;
        background-color: #F5F5DC;
    }
    .srh__top--title{
        font: 25px sans-serif;
    }
    .srh__top--content{
        font: 15px sans-serif;
        width: 100%;
    }
    .srh__main {
        width: 100%;
        margin: 10px auto;
        padding: 20px;
        border-top: 1px dashed #000000;
    }
}