// Place all the styles related to the Login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login--find {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    color: #000000;
}

.login--find:hover{
    color: #0000CD;
}

.srh__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.idsrh, .pwsrh {
    width: 400px;
    height: 530px;
    padding: 10px;
    margin: 0 20px;
    border: 1px solid #D3D3D3;
    background-color: #F5F5DC;
}

.srh__top--title, .srh__top--content {
    text-align: center;
}

.srh__top--title{
    font: 40px sans-serif;
}

.srh__top--content {
    width: 200px;
    margin: 0 auto;
    font: 15px sans-serif;
    color: #2F4F4F;
}

.srh__main {
    width: 300px;
    margin: 10px auto;
    padding: 20px;
    border-top: 1px dashed #000000;
}

.srh__main--elt{
    margin: 10px 0;
}

.srh__main--input{
    display: block;
    width: 100%;
    height: 25px;
    margin-top: 8px;
}

.srh__main--submit{
    display: block;
    border: none;
    margin: 20px auto 0 auto;
    width: 50%;
    height: 50px;
    color: #ffffff;
    font-size: 20px;
}

@media screen and (max-width: 600px){
    .container {
        width: 300px;
        margin: 0 auto;
    }
    
    .header--logo{
        display: block;
        width: 300px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 750px){
    .srh__container {
        display: flex;
        align-items: center;
        margin: 100px;
    }
    .idsrh, .pwsrh {
        width: 300px;
        height: 530px;
        padding: 10px;
        margin: 0 20px;
        border: 1px solid #D3D3D3;
        background-color: #F5F5DC;
    }
    .srh__top--title{
        font: 25px sans-serif;
    }
    .srh__main {
        width: 250px;
        margin: 10px auto;
        padding: 20px;
        border-top: 1px dashed #000000;
    }
}
