/* 내비바 스타일링 */
.navbar {
    position: fixed;
    margin: 0;
    padding-right: 5px;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: #ffffff;
    z-index: 1;
    font-family: 'PT Sans', Arial, sans-serif;
    font-weight: bold;
}

.navbar__downdrop{
    display: none;
}

.navbar__list {
    float: right;
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.navbar .navbar__list--elt {
    list-style: none;
    font-size: 15px;
    cursor: pointer;
}

.navbar__list--elt > a {
    text-decoration: none;
    color: black;
}

.navbar__list--elt > a:hover {
    color: #102E37;
}

.mypage .navbar__mypage {
    display: none;
    position: fixed;
    right: 10px;
    padding: 10px;
    margin-top: 5px;
    background-color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mypage:hover .navbar__mypage {
    display: block;
}

.mypage .navbar__mypage .navbar__mypage--elt{
    display: block;
    margin: 10px auto;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* navbar 반응형 */

.navbar--togglelist{
    display: none;
    position: fixed;
    right: 0;
    top: 55px;
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar--togglelist .navbar__list--elt{
    margin: 5px 0;
}

.navbar--togglelist .navbar__list--elt a{
    color: #ffffff;
}

/* 강사보러가기 */
.showctg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    margin: 0 auto;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.7);
}

.showctg__container {
    display: flex;
    justify-content: center;
    ailgn-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    background-color: #cdcdcd;
}

.showctg__container li {
    list-style: none;
}

.showctg__container .ctg--title{
    display: block;
    width: 105px;
    background-color: #FF8C00;
    color: #ffffff;
    text-align: center;
    padding: 5px 10px;
    font-size: 15px;
}


.showctg__container .ctg--list{
    margin-top: 10px;
    padding-left: 5px;
    font-size: 15px;
    cursor: pointer;
}