<div class="lecturer__edit container">
    <div class="lecturer__edit__container">
        <h1 class="titlename">회원정보수정</h1>
        <%= render 'editform' %>
    </div>
</div>

<%= javascript_include_tag 'selectsex', 'data-turbolinks-track' => true %>