<div class="lecturer__edit">
    <div class="lecturer__edit__container">
        <header class="lecturer__edit__header">
            <%= image_tag "logo.png", class: "edit__header--logo" %>
        </header>
<%= render 'form' %>

<%= link_to 'Show', @lecturer %> |
<%= link_to 'Back', lecturers_path %>
    </div>
</div>