<%= image_tag "intro.gif", alt: "궁금한강사 소개 영상", class: "intro_img" %>

  <tbody>
    <% @lecturers.each do |lecturer| %>
      <tr>
        <td><%= link_to "#{lecturer.name}", lecturer, class: "lecturer__name"%></td>
        <% if user_signed_in?
            if current_user.lec_id == lecturer.lec_id %>
        <td><%= link_to 'Edit', edit_lecturer_path(lecturer) %></td>
        <td><%= link_to 'Destroy', lecturer, method: :delete, data: {confirm: "Are you sure?" } %></td>
        <% end 
          end %>
      </tr>
    <% end %>
  </tbody>
</table>

<footer class="information">
(주) 궁금한강사 </br>
주소 : 대전광역시 유성구 궁동로 479, 공대 5호관 2층 </br> 
대표이사 : 이세록 | 사업자등록번호: 742-00-00000 </br>
통신판매번호 :0000-충남대전-00000 | 관광사업자 등록번호: 제0000-00호 </br>
전화번호 : 0000-0000 </br>
전자우편주소 : aaaaaa@aaaaa.com </br>
Copyright 궁금한강사 Corp. All rights reserved. </br>
</footer>
