<div class="join">
    <div class="join__container container">
        <header class="join__header">
            <%= image_tag "logo.png", class: "join__header--logo header--logo" %>
        </header>
<%= render 'form' %>
    </div>
</div>

<%= javascript_include_tag 'selectsex', 'data-turbolinks-track' => true %>