<div class="srhlecturer">
    <div class="srhlecturer--content">
        <%# 검색 폼 %>
        <%= form_tag lecturers_search_path, class: "srhlecturer--form" do %>
           <%= text_field_tag :search_lec, "", class: "srhlecturer--input" , placeholder: " 강사 이름을 입력해주세요!" %>
           <%= image_submit_tag "search-solid.svg", class: "srhlecturer--img" %>
        <% end %>
    </div>
</div>