<div class="srhlecturer">
    <div class="srhlecturer--content">
        <%# 검색 폼 %>
        <%= form_tag lecturers_search_path, class: "srhlecturer--form" do %>
           <%= image_tag "search-solid", class: "srhlecturer--img" %> <%= text_field_tag :search_lec, "", class: "srhlecturer--input" , placeholder: " 강사 이름을 입력해주세요!" %>
           <%= submit_tag "검색", class: "srhlecturer--submit" %>
        <% end %>
    </div>
</div>