<div class="showctg target__modal showctg__modal">
    <div class="showctg__close">
        <span class="modal--close ctg--close">&times;</span>
        <%= form_tag lecturers_ctgsearch_path, class: "ctgsearch--form" do %>
            <%= hidden_field_tag :category %>
            <%= submit_tag "검색하기", class: "ctgsearch--submit" %>
        <% end %>
    </div>
    <div class="showctg__container ">
        <ul class="showctg__box">
            <li class="ctg--title">동기부여</li>
            <li class="ctg--list" data-value="동기부여">동기부여</li>
            <li class="ctg--list" data-value="도전">도전</li>
            <li class="ctg--list" data-value="성공">성공</li>
            <li class="ctg--list" data-value="비전">비전</li>
            <li class="ctg--list" data-value="목표달성">목표달성</li>
            <li class="ctg--list" data-value="변화">변화</li>
            <li class="ctg--list" data-value="열정">열정</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">리더쉽</li>
            <li class="ctg--list" data-value="리더쉽">리더쉽</li>
            <li class="ctg--list" data-value="코칭">코칭</li>
            <li class="ctg--list" data-value="멘토링">멘토링</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">커뮤니케이션</li>
            <li class="ctg--list" data-value="커뮤니케이션">커뮤니케이션</li>
            <li class="ctg--list" data-value="소통">소통</li>
            <li class="ctg--list" data-value="갈등관리">갈등관리</li>
            <li class="ctg--list" data-value="대화법">대화법</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">자기계발</li>
            <li class="ctg--list" data-value="자기계발">자기계발</li>
            <li class="ctg--list" data-value="시간관리">시간관리</li>
            <li class="ctg--list" data-value="창의력">창의력</li>
            <li class="ctg--list" data-value="긍정">긍정</li>
            <li class="ctg--list" data-value="성격진단">성격진단</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">조직활성화</li>
            <li class="ctg--list" data-value="조직활성화">조직활성화</li>
            <li class="ctg--list" data-value="팀워크">팀워크</li>
            <li class="ctg--list" data-value="아웃도어">아웃도어</li>
            <li class="ctg--list" data-value="화합">화합</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">건강</li>
            <li class="ctg--list" data-value="건강">건강</li>
            <li class="ctg--list" data-value="힐링">힐링</li>
            <li class="ctg--list" data-value="스트레스">스트레스</li>
            <li class="ctg--list" data-value="웰빙">웰빙</li>
            <li class="ctg--list" data-value="행복">행복</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">유머</li>
            <li class="ctg--list" data-value="유머">유머</li>
            <li class="ctg--list" data-value="웃음">웃음</li>
            <li class="ctg--list" data-value="펀경영">펀경영</li>
            <li class="ctg--list" data-value="펀리더쉽">펀리더쉽</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">스피치</li>
            <li class="ctg--list" data-value="스피치">스피치</li>
            <li class="ctg--list" data-value="프레젠테이션">프레젠테이션</li>
            <li class="ctg--list" data-value="보이스트레이닝">보이스트레이닝</li>
            <li class="ctg--list" data-value="스토리텔링">스토리텔링</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">CS</li>
            <li class="ctg--list" data-value="CS">CS</li>
            <li class="ctg--list" data-value="이미지메이킹">이미지메이킹</li>
            <li class="ctg--list" data-value="고객만족">고객만족</li>
            <li class="ctg--list" data-value="전화응대">전화응대</li>
            <li class="ctg--list" data-value="친절">친절</li>
            <li class="ctg--list" data-value="불만고객">불만고객</li>
            <li class="ctg--list" data-value="직장예절">직장예절</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">조직문화</li>
            <li class="ctg--list" data-value="조직문화">조직문화</li>
            <li class="ctg--list" data-value="직급별교육">직급별교육</li>
            <li class="ctg--list" data-value="노사">노사</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">경영</li>
            <li class="ctg--list" data-value="경영">경영</li>
            <li class="ctg--list" data-value="혁신">혁신</li>
            <li class="ctg--list" data-value="문제해결">문제해결</li>
            <li class="ctg--list" data-value="창업">창업</li>
            <li class="ctg--list" data-value="특허">특허</li>
            <li class="ctg--list" data-value="회계">회계</li>
            <li class="ctg--list" data-value="세무">세무</li>
            <li class="ctg--list" data-value="의사결정">의사결정</li>
            <li class="ctg--list" data-value="생산품질">생산품질</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">세일즈</li>
            <li class="ctg--list" data-value="세일즈">세일즈</li>
            <li class="ctg--list" data-value="마케팅/홍보">마케팅/홍보</li>
            <li class="ctg--list" data-value="기획">기획</li>
            <li class="ctg--list" data-value="전략">전략</li>
            <li class="ctg--list" data-value="협상">협상</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">교육</li>
            <li class="ctg--list" data-value="교육">교육</li>
            <li class="ctg--list" data-value="성희롱예방">성희롱예방</li>
            <li class="ctg--list" data-value="취업">취업</li>
            <li class="ctg--list" data-value="면접">면접</li>
            <li class="ctg--list" data-value="과학">과학</li>
            <li class="ctg--list" data-value="역사">역사</li>
            <li class="ctg--list" data-value="입시">입시</li>
            <li class="ctg--list" data-value="외국어">외국어</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">가정</li>
            <li class="ctg--list" data-value="가정">가정</li>
            <li class="ctg--list" data-value="성교육">성교육</li>
            <li class="ctg--list" data-value="자녀교육">자녀교육</li>
            <li class="ctg--list" data-value="부부">부부</li>
            <li class="ctg--list" data-value="주부">주부</li>
            <li class="ctg--list" data-value="부모교육">부모교육</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">노인/노후</li>
            <li class="ctg--list" data-value="노인/노후">노인/노후</li>
            <li class="ctg--list" data-value="은퇴설계">은퇴설계</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">사회</li>
            <li class="ctg--list" data-value="사회">사회</li>
            <li class="ctg--list" data-value="안전">안전</li>
            <li class="ctg--list" data-value="여성">여성</li>
            <li class="ctg--list" data-value="인권">인권</li>
            <li class="ctg--list" data-value="봉사">봉사</li>
            <li class="ctg--list" data-value="보안">보안</li>
            <li class="ctg--list" data-value="종교">종교</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">IT직무</li>
            <li class="ctg--list" data-value="IT직무">IT직무</li>
            <li class="ctg--list" data-value="문서작성">문서작성</li>
            <li class="ctg--list" data-value="포토샵">포토샵</li>
            <li class="ctg--list" data-value="정보보안">정보보안</li>
            <li class="ctg--list" data-value="SNS">SNS</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">문화</li>
            <li class="ctg--list" data-value="문화">문화</li>
            <li class="ctg--list" data-value="인문학">인문학</li>
            <li class="ctg--list" data-value="독서">독서</li>
            <li class="ctg--list" data-value="글쓰기">글쓰기</li>
            <li class="ctg--list" data-value="영화">영화</li>
            <li class="ctg--list" data-value="미술/디자인">미술/디자인</li>
            <li class="ctg--list" data-value="예술">예술</li>
            <li class="ctg--list" data-value="뷰티/패션">뷰티/패션</li>
            <li class="ctg--list" data-value="게임">게임</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">경제</li>
            <li class="ctg--list" data-value="경제">경제</li>
            <li class="ctg--list" data-value="재테크">재테크</li>
            <li class="ctg--list" data-value="보험">보험</li>
            <li class="ctg--list" data-value="주식/펀드">주식/펀드</li>
            <li class="ctg--list" data-value="부동산">부동산</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">특화강의</li>
            <li class="ctg--list" data-value="레크레이션">레크레이션</li>
            <li class="ctg--list" data-value="MC">MC</li>
            <li class="ctg--list" data-value="공연">공연</li>
            <li class="ctg--list" data-value="마술">마술</li>
            <li class="ctg--list" data-value="트렌드">트렌드</li>
            <li class="ctg--list" data-value="요리">요리</li>
            <li class="ctg--list" data-value="유명인">유명인</li>
            <li class="ctg--list" data-value="연예인">연예인</li>
            <li class="ctg--list" data-value="와인">와인</li>
            <li class="ctg--list" data-value="비주얼씽킹">비주얼씽킹</li>
            <li class="ctg--list" data-value="인포그래픽">인포그래픽</li>
        </ul>
        <ul class="showctg__box">
            <li class="ctg--title">기타</li>
            <li class="ctg--list" data-value="기타">기타</li>
            <li class="ctg--list" data-value="풍수지리">풍수지리</li>
            <li class="ctg--list" data-value="마인드">마인드</li>
        </ul>
    </div>
</div>